pim_edci_credential.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://data.europa.eu/europass/model/credentials#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eup="http://data.europa.eu/europass/model/credentials#" targetNamespace="http://data.europa.eu/europass/model/credentials#" elementFormDefault="qualified">
	<!-- xsd 1.1 -->
	<!-- <xs:override schemaLocation="../edci_credential.xsd">
		<xs:simpleType name="ActivityTypeEnumType">
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://data.europa.eu/europass/learningActivityType/workShop"/>
				<xs:enumeration value="http://data.europa.eu/europass/learningActivityType/classroom"/>
				<xs:enumeration value="http://data.europa.eu/europass/learningActivityType/lab"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="EscoOrganizationTypeEnumType">
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://data.europa.eu/esco/agent-type#academic-institution"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="LearningSpecificationReferencesType">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="learningSpecification" type="LearningSpecificationType">
					<xs:unique name="qs_prefLabel">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
				<xs:element name="qualification" type="QualificationType"/>
				<xs:element name="learningOutcome" type="LearningOutcomeType"/>
				<xs:element name="studyProgramme" type="StudyProgrammeType">
					<xs:unique name="qs_prefLabel_studyProgramme">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition_studyProgramme">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
				<xs:element name="stupo" type="StupoType">
					<xs:unique name="qs_prefLabel_stupo">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition_stupo">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
				<xs:element name="studySection" type="StudySectionType">
					<xs:unique name="qs_prefLabel_studySection">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition_studySection">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
				<xs:element name="modul" type="ModulType">
					<xs:unique name="qs_prefLabel_modul">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition_modul">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
				<xs:element name="modulSpecialization" type="ModulSpecializationType">
					<xs:unique name="qs_prefLabel_modulSpecialization">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition_modulSpecialization">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
				<xs:element name="learningEvent" type="learningEventType">
					<xs:unique name="qs_prefLabel_learningEvent">
						<xs:selector xpath="eup:title"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
					<xs:unique name="qs_definition_learningEvent">
						<xs:selector xpath="eup:definition/eup:text"/>
						<xs:field xpath="@lang"/>
					</xs:unique>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:simpleType name="LearningModeTypeEnumType">
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://data.europa.eu/europass/modeOfLearningAndAssessment/blended"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:override> -->
	<!-- xsd 1.0 -->
	<xs:include schemaLocation="../edci_credential.xsd"></xs:include>
	<xs:redefine schemaLocation="../imported/edci_esco_individuals.xsd">
		<xs:simpleType name="EscoOrganizationTypeEnumType">
			<xs:restriction base="EscoOrganizationTypeEnumType">
				<xs:enumeration value="http://data.europa.eu/esco/agent-type#academic-institution"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:redefine>
	<xs:redefine schemaLocation="../edci_credentialTypes.xsd">
		<xs:simpleType name="ActivityTypeEnumType">
			<xs:restriction base="ActivityTypeEnumType">
				<xs:enumeration value="http://data.europa.eu/europass/learningActivityType/workShop"/>
				<xs:enumeration value="http://data.europa.eu/europass/learningActivityType/classroom"/>
				<xs:enumeration value="http://data.europa.eu/europass/learningActivityType/lab"/>
			</xs:restriction>
		</xs:simpleType>

		<xs:complexType name="LearningSpecificationReferencesType">
			<xs:complexContent>
				<xs:extension base="LearningSpecificationReferencesType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="studyProgramme" type="StudyProgrammeType">
							<xs:unique name="qs_prefLabel_studyProgramme">
								<xs:selector xpath="eup:title"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
							<xs:unique name="qs_definition_studyProgramme">
								<xs:selector xpath="eup:definition/eup:text"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
						<xs:element name="stupo" type="StupoType">
							<xs:unique name="qs_prefLabel_stupo">
								<xs:selector xpath="eup:title"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
							<xs:unique name="qs_definition_stupo">
								<xs:selector xpath="eup:definition/eup:text"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
						<xs:element name="studySection" type="StudySectionType">
							<xs:unique name="qs_prefLabel_studySection">
								<xs:selector xpath="eup:title"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
							<xs:unique name="qs_definition_studySection">
								<xs:selector xpath="eup:definition/eup:text"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
						<xs:element name="modul" type="ModulType">
							<xs:unique name="qs_prefLabel_modul">
								<xs:selector xpath="eup:title"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
							<xs:unique name="qs_definition_modul">
								<xs:selector xpath="eup:definition/eup:text"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
						<xs:element name="modulSpecialization" type="ModulSpecializationType">
							<xs:unique name="qs_prefLabel_modulSpecialization">
								<xs:selector xpath="eup:title"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
							<xs:unique name="qs_definition_modulSpecialization">
								<xs:selector xpath="eup:definition/eup:text"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
						<xs:element name="learningEvent" type="learningEventType">
							<xs:unique name="qs_prefLabel_learningEvent">
								<xs:selector xpath="eup:title"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
							<xs:unique name="qs_definition_learningEvent">
								<xs:selector xpath="eup:definition/eup:text"/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:redefine schemaLocation="../edci_individuals.xsd">
		<xs:simpleType name="LearningModeTypeEnumType">
			<xs:restriction base="LearningModeTypeEnumType">
				<xs:enumeration value="http://data.europa.eu/europass/modeOfLearningAndAssessment/blended"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:redefine>
	<!-- This solution requires that the new LearningSpecificationSubType-Instances all occur after the originally defined types in the LearningSpecificationReferencesList (by xsd design). If this becomes a problem when trying to adapt the export to this new XSD adding a separate learningOutcomeList to this solution and only using the new elements in the learningSpecificationReferencesList might help. -->
	<!-- beide -->
	<!-- Both versions still allow using the original LearningSpecifications which would probably be ignored by a PIM-import? (This seems alright because there are also other originally allowed elements that PIM does not use and therefore probably ignores anyway.) -->
	<xs:group name="StudyProgrammeElements">
		<!-- based on LearningSpecificationElements -->
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="uri" fixed="http://data.europa.eu/europass/learningOpportunityType/programModule" use="required"/>
				</xs:complexType>
			</xs:element> -->
			<xs:element name="title" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationSubject" type="EducationSubjectAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="hasECTSCreditPoints" type="ECTSCreditPointsType" minOccurs="0"/> -->
			<!-- <xs:element name="hasCreditPoints" type="CreditPointsType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationLevel" type="EducationLevelAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="language" type="LanguageCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="mode" type="LearningModeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0"/> -->
			<!-- <xs:element name="duration" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="targetGroup" type="TargetGroupCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="entryRequirementsNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningOutcomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
			<!-- <xs:element name="learningActivitySpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="assessmentSpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="entitlementSpecification" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="awardingOpportunities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="awardingOpportunity" type="AwardingOpportunityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
		</xs:sequence>
	</xs:group>
	<xs:group name="StupoElements">
		<!-- based on LearningSpecificationElements -->
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="uri" fixed="http://data.europa.eu/europass/learningOpportunityType/programModule" use="required"/>
				</xs:complexType>
			</xs:element> -->
			<xs:element name="title" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationSubject" type="EducationSubjectAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="hasECTSCreditPoints" type="ECTSCreditPointsType" minOccurs="0"/> -->
			<!-- <xs:element name="hasCreditPoints" type="CreditPointsType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="hasEducationLevel" type="EducationLevelAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="language" type="LanguageCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="mode" type="LearningModeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0"/> -->
			<!-- <xs:element name="duration" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="targetGroup" type="TargetGroupCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="entryRequirementsNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningOutcomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
			<!-- <xs:element name="learningActivitySpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="assessmentSpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="entitlementSpecification" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="awardingOpportunities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="awardingOpportunity" type="AwardingOpportunityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
		</xs:sequence>
	</xs:group>
	<xs:group name="StudySectionElements">
		<!-- based on LearningSpecificationElements -->
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="uri" fixed="http://data.europa.eu/europass/learningOpportunityType/programModule" use="required"/>
				</xs:complexType>
			</xs:element> -->
			<xs:element name="title" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="hasEducationSubject" type="EducationSubjectAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="hasECTSCreditPoints" type="ECTSCreditPointsType" minOccurs="0"/> -->
			<!-- <xs:element name="hasCreditPoints" type="CreditPointsType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="hasEducationLevel" type="EducationLevelAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="language" type="LanguageCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="mode" type="LearningModeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0"/> -->
			<!-- <xs:element name="duration" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="targetGroup" type="TargetGroupCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="entryRequirementsNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningOutcomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
			<!-- <xs:element name="learningActivitySpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="assessmentSpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="entitlementSpecification" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="awardingOpportunities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="awardingOpportunity" type="AwardingOpportunityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
		</xs:sequence>
	</xs:group>
	<xs:group name="ModulElements">
		<!-- based on LearningSpecificationElements -->
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="uri" fixed="http://data.europa.eu/europass/learningOpportunityType/programModule" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationSubject" type="EducationSubjectAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0"/>
			<xs:element name="hasECTSCreditPoints" type="ECTSCreditPointsType" minOccurs="0"/>
			<!-- <xs:element name="hasCreditPoints" type="CreditPointsType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationLevel" type="EducationLevelAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="language" type="LanguageCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mode" type="LearningModeType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0"/> -->
			<xs:element name="duration" type="xs:duration" minOccurs="0"/>
			<xs:element name="targetGroup" type="TargetGroupCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRequirementsNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="learningOutcomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- <xs:element name="learningActivitySpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="assessmentSpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="entitlementSpecification" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="awardingOpportunities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="awardingOpportunity" type="AwardingOpportunityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
		</xs:sequence>
	</xs:group>
	<xs:group name="ModulSpecializationElements">
		<!-- based on LearningSpecificationElements -->
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="uri" fixed="http://data.europa.eu/europass/learningOpportunityType/course" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationSubject" type="EducationSubjectAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0"/>
			<xs:element name="hasECTSCreditPoints" type="ECTSCreditPointsType" minOccurs="0"/>
			<!-- <xs:element name="hasCreditPoints" type="CreditPointsType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="hasEducationLevel" type="EducationLevelAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="language" type="LanguageCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mode" type="LearningModeType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0"/> -->
			<xs:element name="duration" type="xs:duration" minOccurs="0"/>
			<xs:element name="targetGroup" type="TargetGroupCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRequirementsNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="learningOutcomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- <xs:element name="learningActivitySpecification" type="IdReferenceType" minOccurs="0"/> -->
			<xs:element name="assessmentSpecification" type="IdReferenceType" minOccurs="0"/>
			<!-- <xs:element name="entitlementSpecification" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="awardingOpportunities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="awardingOpportunity" type="AwardingOpportunityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="LearningEventElements">
		<!-- based on LearningSpecificationElements -->
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="type" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="uri" fixed="http://data.europa.eu/europass/learningOpportunityType/class" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="hasEducationSubject" type="EducationSubjectAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="hasECTSCreditPoints" type="ECTSCreditPointsType" minOccurs="0"/> -->
			<!-- <xs:element name="hasCreditPoints" type="CreditPointsType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="hasEducationLevel" type="EducationLevelAssociationSimpleType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="language" type="LanguageCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="mode" type="LearningModeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0"/> -->
			<!-- <xs:element name="duration" type="xs:duration" minOccurs="0"/> -->
			<!-- <xs:element name="targetGroup" type="TargetGroupCodeType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="entryRequirementsNote" type="NoteType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="learningOutcomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
			<xs:element name="learningActivitySpecification" type="IdReferenceType" minOccurs="0"/>
			<!-- <xs:element name="assessmentSpecification" type="IdReferenceType" minOccurs="0"/> -->
			<!-- <xs:element name="entitlementSpecification" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="awardingOpportunities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="awardingOpportunity" type="AwardingOpportunityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
		</xs:sequence>
	</xs:group>
	<xs:complexType name="StudyProgrammeType">
		<!-- <xs:complexContent> -->
		<!-- <xs:restriction base="LearningSpecificationType"> -->
		<xs:sequence>
			<xs:group ref="StudyProgrammeElements"/>
			<!-- <xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="specializationOf" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required"/>
		<!-- </xs:restriction> -->
		<!-- </xs:complexContent> -->
	</xs:complexType>
	<xs:complexType name="StupoType">
		<!-- <xs:complexContent> -->
		<!-- <xs:restriction base="LearningSpecificationType"> -->
		<xs:sequence>
			<xs:group ref="StupoElements"/>
			<!-- <xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="specializationOf" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Es wäre schön, wenn wir hier die erlaubten Referenzen auf Studiengänge einschränken können, aber dafür müssten wir vermutlich noch ein Stück weiter von edci abweichen. -->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required"/>
		<!-- </xs:restriction> -->
		<!-- </xs:complexContent> -->
	</xs:complexType>
	<xs:complexType name="StudySectionType">
		<!-- <xs:complexContent> -->
		<!-- <xs:restriction base="LearningSpecificationType"> -->
		<xs:sequence>
			<xs:group ref="StudySectionElements"/>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specializationOf" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Es wäre schön, wenn wir hier die erlaubten Referenzen auf Stupos (Studien- und Prüfungsordnungen) einschränken können, aber dafür müssten wir vermutlich noch ein Stück weiter von edci abweichen. -->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required"/>
		<!-- </xs:restriction> -->
		<!-- </xs:complexContent> -->
	</xs:complexType>
	<xs:complexType name="ModulType">
		<!-- <xs:complexContent> -->
		<!-- <xs:restriction base="LearningSpecificationType"> -->
		<xs:sequence>
			<xs:group ref="ModulElements"/>
			<!-- <xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="specializationOf" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Es wäre schön, wenn wir hier die erlaubten Referenzen auf andere Module einschränken können, aber dafür müssten wir vermutlich noch ein Stück weiter von edci abweichen. -->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required"/>
		<!-- </xs:restriction> -->
		<!-- </xs:complexContent> -->
	</xs:complexType>
	<xs:complexType name="ModulSpecializationType">
		<!-- <xs:complexContent>
			<xs:restriction base="LearningSpecificationType"> -->
		<xs:sequence>
			<xs:group ref="ModulSpecializationElements"/>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Es wäre schön, wenn wir hier die erlaubten Referenzen auf andere ModulSpecializations einschränken können, aber dafür müssten wir vermutlich noch ein Stück weiter von edci abweichen. -->
			<xs:element name="specializationOf" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Es wäre schön, wenn wir hier die erlaubten Referenzen auf Module einschränken können, aber dafür müssten wir vermutlich noch ein Stück weiter von edci abweichen. -->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required"/>
		<!-- </xs:restriction>
		</xs:complexContent> -->
	</xs:complexType>
	<xs:complexType name="learningEventType">
		<!-- <xs:complexContent>
			<xs:restriction base="LearningSpecificationType"> -->
		<xs:sequence>
			<xs:group ref="LearningEventElements"/>
			<!-- <xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xs:element name="specializationOf" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded"/> -->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required"/>
		<!-- </xs:restriction>
		</xs:complexContent> -->
	</xs:complexType>
	<!-- Maybe we can consider getting rid of learningEvent and consider allowing multiple learningActivities directly inside a ModulSpecialization since we are writing our own XSD-suggestion anyway? -->
	<!-- Und die drei additionalNotes könnte man dann auch noch zu eigenen Typen machen, falls wir das wollen ... -->
</xs:schema>
